ul.list-group {
    clear: both!important;
    display: block!important;
    content: ""!important;
}

.list-group-item {
    float: left;
}

.item-teste{
    /*display: inline-table;*/
    width: 100%;
    /*padding-right: 0px;
    padding-left: 0px;*/
    min-width: 15%;
    max-width: 30%;
}

#btn_raffle{
    width: 100%;
    display: block;
}




/*FOOTER TESTE*/
.div-footer{
    position: fixed;
    width: 100%;
    background: #f4f6f9;
    height: 70px;
    bottom: 0;
    z-index: 6;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.div-footer .wrap-footer{
    margin: 10px auto;
}

.social{
    width: 250px;
}

.nav-footer {
    display:inline-block;
    float: none;
}


.badge .close {
  margin-left: 0.25rem;
  color: inherit;
  font-size: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}