{% set menu_id = "menu-materia-listar" %}


{% set content_title = "Q-Acadêmico" %}
{% extends "base/base.html" %}
{% block title_page %}Q-Acadêmico{% endblock title_page %}



{% block conteudo %}

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Cadastrar Novo Assunto</h3>

                                <div class="card-tools">
                                    <button type="button" onclick="history.back()" class="btn btn-tool">
                                        <i class="fa fa-arrow-left"></i> Voltar
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- FORM ACTION -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="tx_description">Descri&ccedil;&atilde;o:</label>
                                            <input type="text" class="form-control" id="tx_description" name="tx_description" placeholder="Assunto ...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" id="btn_create" name="btn_create" class="btn btn-primary">Cadastrar</button>
                            </div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->   
    
        {% endblock conteudo %}



{% block renderjs %}
<script>
    
var id_from_flask = {{ id|default("null") }};
    function create_assunto(description){
        $.ajax({
            type: "POST",
            url: `/api/materia/${id_from_flask}/assunto/create`,
            data: {
                description: description
            },
            success: function(e){
                window.location.pathname = `/panel/materia/${id_from_flask}/view`;
            },
            dataType: 'json'
        })
    };



    $(document).on('click', '#btn_create', function(e){
        e.preventDefault();
        let description = $('#tx_description').val();
        create_assunto(description)
    });

</script>
{% endblock renderjs %}